body {
    font-family: 'Roboto Condensed';
    font-size: 130%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    margin: 1%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;

}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
   
}

.screen {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    position: relative;
    
    padding: 0;

    justify-content: left;

    box-shadow: 0 0 0 23px #333;
    border-radius: 7%;


}



.noise {
    pointer-events: none;
    position: absolute;
    top: -500px;
    right: -500px;
    bottom: -500px;
    left: -500px;
    align-items: center;
    background: repeating-linear-gradient(#000000, #00ff00a4 10px, #000000 10px, #00ff0083 10px);
    background-size: 320px 320px;
    opacity: 0.20;
    animation: noise 20s steps(8) infinite both;
    animation-timing-function: ease;
    z-index: 999;
}


textarea {
    padding: 5%;
    width: 102.5%;
    height: 100%;
    background: radial-gradient(ellipse at center, #29382c 0%, #0c100d 100%);
    border-radius: 7%;
    box-shadow: 0 0 40px #3bf50c82;
    font-weight: bolder;
    border: #29382c 20px groove;
    color: #00FF00;
    text-shadow: 1px 1px 1px #ffffff53, 1px 1px 10px #d9f8d5;


}

.row {

    width: 100%;
    height: 100%;
    position: absolute;


}

#info {
    position: absolute;
    height: 5%;
    width: 80%;
    right: -32%;
    top: 3%;
}

.col-2 {

    margin: 5px;
    border-top: #00FF00 solid;
    border-right: #00FF00 solid;
    font-weight: bolder;
    color: #00FF00;
    text-shadow: 1px 1px 1px #ffffff53, 1px 1px 10px #d9f8d5;


}



@keyframes noise {
    0% {
        transform: translateX(0px, 0px);
    }

    10% {
        transform: translate(-100px, 100px);
    }

    20% {
        transform: translate(150px, -100px);
    }

    30% {
        transform: translate(-100px, 100px);
    }

    40% {
        transform: translate(100px, -150px);
    }

    50% {
        transform: translate(-100px, 200px);
    }

    60% {
        transform: translate(-200px, -100px);
    }

    70% {
        transform: translateY(50px, 100px);
    }

    80% {
        transform: translate(100px, -150px);
    }

    90% {
        transform: translate(0px, 200px);
    }

    100% {
        transform: translate(-100px, 100px);
    }
}